.ad-navbar {
  background-color: transparent;
  min-height: 6.25rem;
  position: relative;
  display: flex;

  .ad-logo {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: 0.25s;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.9;
      color: white;
    }
  }

  .ad-menu {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 68px;
    vertical-align: middle;
    z-index: 999;
    opacity: 1;
    transition: 0.25s;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.9;
    }

    &--active {
      transform: rotate(45deg);

      .ad-menu-line {
        &--top {
          stroke-dashoffset: -66px;
        }
        &--middle {
          // stroke-dashoffset: -20px;
          transform: rotate(90deg);
        }
        &--bottom {
          stroke-dashoffset: -65px;
        }
      }
    }

    &-line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: white;
      stroke-width: 5.5;
      stroke-linecap: square;

      &--top {
        stroke-dasharray: 40 160;
      }

      &--middle {
        stroke-dasharray: 40 142;
        transform-origin: 50%;
        transition: transform 400ms;
      }

      &--bottom {
        stroke-dasharray: 40 85;
        transform-origin: 50%;
        transition: transform 400ms, stroke-dashoffset 400ms;
      }
    }
  }

  .ad-menu {
    &-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: hidden;
      transition: opacity 0.5s, visibility 0.5s, width 0.5s;
      z-index: 99;

      &:after {
        content: "";
        background: #222222;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all 0.5s ease;
      }

      &--open {
        opacity: 0.9;
        visibility: visible;
        height: 100%;

        &:after {
          left: 0;
        }

        h2,
        li {
          animation: fadeInLeft 0.5s ease forwards;
          animation-delay: 0.35s;

          &:nth-of-type(2) {
            animation-delay: 0.45s;
          }

          &:nth-of-type(3) {
            animation-delay: 0.55s;
          }

          &:nth-of-type(4) {
            animation-delay: 0.65s;
          }
        }
      }

      &-menu {
        position: relative;
        height: 100%;
        top: 50%;
        transform: translateY(-25%);
        text-align: left;
        padding: 0 50px;
        z-index: 100;

        h2 {
          @media screen and (max-width: 768px) {
            font-size: 38px;
          }
          font-size: 62px;
          margin-bottom: 30px;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0 auto;
          display: inline-block;
          position: relative;

          li {
            display: inline-block;
            min-height: 50px;
            position: relative;
            opacity: 0;

            a {
              display: block;
              position: relative;
              color: white;
              text-decoration: none;
              overflow: hidden;
              font-size: 52px;
              @media screen and (max-width: 768px) {
                font-size: 28px;
              }

              &:hover:after,
              &:focus:after,
              &:active:after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    right: 100%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
